<h1 class="user_header_title">Details of <%= @user.name %></h1>
<%= create_single_user(@user, "shared/header") %>
<section class="bio">
  <h4>Bio</h4>
  <p class="bio_info">
    <%= @user.bio %>
  </p>
</section>
<section class="posts_container">
  <h3>My Posts</h3>
  <ul class="posts_list">
    <%= create_single_post(@posts, "shared/post_list") %>
    <div>
      <%= link_to "See all posts", user_posts_path(@user.id), class: "see_all_posts_btn" %>
    </div>
    <% if @posts.empty? %>
      <p>No posts made by <%= @user.name %></p>
    <% end %>
  </ul>
</section>
