<div class="sign-in">
  <%= link_to root_path, class: "nav-brand" do %>
    <h2>MOVIE<span>BLOG</span></h2>
  <% end %>
  <div class="session_manager">
    <% if user_signed_in? %>
      <div class="user_signed_in">
        <span><%= current_user.name %></span>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "logout-btn" %>
      </div>
      <% else%>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path%>
    <% end %>
  </div>
</div>